.home {
  width: calc(100vw-5px);
  /* height: 120dvh; */
  display: flex;
  flex-direction: column;
}
.header {
  background-color: #212529;
  color: #fff;
  padding: 2.25rem 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header h1 {
  font-family: cursive;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
nav .nav_link {
  text-decoration: none;
  color: #212529;
  font-size: 1.5rem;
  background-color: #f8f9fa;
  padding: 0.75rem 2.5rem;
  border-radius: 5px;
}

nav .nav_btn {
  border: none;
  color: #212529;
  font-size: 1.5rem;
  background-color: #f8f9fa;
  padding: 0.75rem 2.5rem;
  border-radius: 5px;
}
/* /////////////// */
.footer {
  display: flex;
  flex-direction: row;
  padding: 1.75rem 3.5rem;
  align-items: center;
  justify-content: space-between;
  background-color: #e9ecef;
  font-family: cursive;
}

.social-container a {
  cursor: pointer;
  margin-right: 15px;
}
.social-container a:last-of-type {
  margin-right: 0;
}
.social-container a > img {
  width: 30px;
}
.social-container a > img:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
